# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that.

# Site Settings
locale: "en-GB"
title: "AI and Human Connection in Accountancy"
title_separator: "|"
subtitle: "How accounting firms can thrive"
name: "Dr Ian Gregory"
description: "Strategic framework for accounting transformation as AI reshapes the profession."
url: "https://ian-gregory.com"
baseurl: ""
repository: "drigregory/ai-and-human-connection"

# Build settings
remote_theme: mmistakes/minimal-mistakes@4.26.2
minimal_mistakes_skin: "default"

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# Site Author
author:
  name: "Dr Ian Gregory"
  bio: "CTO of Advancetrack. Engineering, management consultancy, accounting and academia."
  location: "United Kingdom"
  links:
    - label: "Advancetrack"
      icon: "fas fa-fw fa-link"
      url: "https://advancetrack.com"

# Reading Files
include:
  - _pages

exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp

# Markdown Processing
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo

# Outputting
permalink: /:categories/:title/
timezone: Europe/London

# Pagination
paginate: 5
paginate_path: /page:num/

# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
      read_time: true
      toc: true
      toc_sticky: true
  # content folders
  - scope:
      path: "ai-developments"
    values:
      layout: single
      author_profile: true
      read_time: true
      toc: true
  - scope:
      path: "ai-impact-on-society"
    values:
      layout: single
      author_profile: true
      read_time: true
      toc: true
  - scope:
      path: "human-connection"
    values:
      layout: single
      author_profile: true
      read_time: true
      toc: true
  - scope:
      path: "implementation"
    values:
      layout: single
      author_profile: true
      read_time: true
      toc: true
